.bn-container[data-theming-css][data-color-scheme] {
    --bn-colors-editor-text: #222222;
    --bn-colors-editor-background: #ffffff;
    --bn-colors-hovered-background: #F1F5F9;
    --bn-colors-menu-background: #ffffff;
    --bn-colors-menu-text: #222222;
    --bn-colors-border: #ffffff;
    --bn-colors-hovered-text: #222222;
    --bn-colors-shadow: #c9c9c9;
    --bn-font-family: Inter, sans-serif;
    --bn-padding-left: 0px;
    --bn-padding-right: 0px;
    --bn-editor-padding-inline: 0px;
  }

  .ProseMirror.bn-editor.bn-default-styles {
    outline: none;
    padding-inline: 8px;
    --N800: #172b4d;
    --N40: #dfe1e6;
}


